.healt-card {
    margin-top: 20px;
}

.healt-card textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.healt-card button {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.healt-card .entry {
    border: 1px solid #163cba;
    margin-bottom: 10px;
    position: relative;
}

.healt-card .entry-date {
    background-color: #D8BFD8;
    color: white;
    padding: 5px;
}

.healt-card .entry-text {
    padding: 10px;
    min-height: 100px;
}

.healt-card .entry-delete {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    padding: 10px 20px;
    margin: 0 15px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #27004f;
    background-color: #e0e0e0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #d0d0d0;
  }
  
  .button.selected {
    background-color: #a0a0a0;
    color: white;
  }
  